.js-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.js-categories-select {
    color: #31b572;
    border: solid 2px #31b572;
    background-color: white;
    border-radius: 7px;
    padding: 0.5rem;
    width: 150px;
    height: fit-content;
}

.js-categories-select:focus {
    border: solid 3px #31b572;
    outline-color: transparent;
}

.js-categories-select option {
    color: black;
}