.js-plant-item {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.js-sales {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 20px 20px 20px 0;
    font-weight: 500;
    color: white;
    padding:  5px 10px;
    background-color: #31b572;
}

.js-plant-item-cover {
    height: 220px;
    width: 220px;
    border-radius: 20px;
}

.js-plant-item-scales{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.js-plant-item-scales-price {
    text-align: center;
    border-radius: 25px;
    background-color: #31b572;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}